:root {
    --light-foreground: black;
    --light-background: white;
    --dark-foreground: white;
    --dark-background: black;
    --warn-background: #FFDD00;
    --warn-code-background: #FFEB92;
    --warn-foreground: black;
    --danger-background: #E03232;
    --danger-foreground: white;
    --error-background: #FFBDBD;
    --info-background: #D5E5E5;
    --info-foreground: black;
    --tip-background: #BBF95D;
    --tip-foreground: black;
    --has-focus-background: #EEEEEE;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    font-family: monospace;
}

body {
    background-color: light-dark(var(--light-background), var(--dark-background));
}

.sep-warn {
    color: black;
    width: 100%;
    height: 4rem;
    background-color: var(--warn-background);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}

h1 {
    font-size: 1.3rem;
}

h1, h2, h3 {
    text-transform: uppercase;
}

.custom-block {
    padding: 1rem;
}

.info {
    color: var(--info-foreground);
    background-color: var(--info-background);
}

.tip {
    color: var(--tip-foreground);
    background-color: var(--tip-background);
}

.warning {
    color: var(--warn-foreground);
    background-color: var(--warn-background);
}

.danger {
    color: var(--danger-foreground);
    background-color: var(--danger-background);
}

.error {
    background-color: var(--error-background);
}

.details {
    border: 2px solid black;
}

.sep-warn > p {
    font-size: 1.2rem;
    font-weight: bold;
}

.sep-warn > svg {
    height: 2rem;
}

hr {
    height: 0;
    border: 1px dashed black;
}

ul, ol {
    padding: 0;
    margin: 0;
}

ul > li {
    list-style-position: inside;
    list-style-type: "- ";
    color: light-dark(var(--light-foreground), var(--dark-foreground));
    text-decoration: none;
}

ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    color: light-dark(var(--light-foreground), var(--dark-foreground));
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 648px;
    margin: 0 auto;
    padding: 1rem 0;
}

.secondary {
    color: #000000AA;
}

a {
    color: light-dark(var(--light-foreground), var(--dark-foreground));
    text-decoration: underline;
}

button {
    padding: 0.5rem 0.8rem;
    border: 2px solid black;
    border-radius: 0;
    background-color: light-dark(var(--light0background), var(--dark-background));
}

button:hover {
    background-color: light-dark(var(--dark-background), var(--light-background));
}

article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}

article > div > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

blockquote {
    padding: 1rem 2rem;
    text-style: italic;
}

figure {
    text-align: center;
}

.copy, .lang {
    display: none;
}

svg, img, video {
    max-width: 100%;
    object-fit: contain;
    object-position: center;
}

footer {
    align-content: end;
}

footer > div {
    padding: 0 1rem;
}

body {
    height: 100vh;
}

#app {
    height: 70%;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

th {
    text-transform: uppercase;
}

th, td {
    padding: 0.5rem 0.8rem;
    text-align: left !important;
    border: 2px solid black;
}

.table-of-contents::before {
    content: 'TABELA DE CONTEUDO';
}

.table-of-contents ul {
}

.table-of-contents:after {
}

.table-of-contents li {
    padding: 0 1rem;
    list-style-type: '* ';
}

pre.shiki > code {
    display: block;
    width: 100%;
}

pre.shiki > code .line {
    width: 100%;
    display: inline-block;
}

code .warning {
    background-color: var(--warn-code-background);
}

.has-focus {
    background-color: var(--has-focus-background);
}

@media only screen and (min-width: 960px) {
    .container {
        max-width: 728px;
    } 
}
