:root {
    --light-foreground: black; 
    --light-background: white;
    --dark-foreground: white;
    --dark-blackground: black;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: monospace;
}

.sep-warn {
    color: black;
    width: 100%;
    height: 5vh;
    background-color: #FFDD00;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 2rem;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}

.sep-warn > p {
    font-size: 2rem;
}

.sep-warn > svg {
    height: 3rem;
}

hr {
    height: 0;
    border: 1px dashed black;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style-position: inside;
    list-style-type: "- ";
    color: light-dark(var(--light-foreground), var(--dark-foreground));
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 648px;
    margin: 0 auto;
    padding: 1rem 0;
}

.secondary {
    color: #000000AA;
}

a {
    color: light-dark(var(--light-foreground), var(--dark-foreground));
    text-decoration: underline;
}

button {
    padding: 0.5rem 0.8rem;
    border: 2px solid black;
    border-radius: 0;
}

button:hover {
    background-color: light-dark(var(--dark-background), var(--light-background));
}

article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

blockquote {
    padding: 1rem 2rem;
    text-style: italic;
}

figure {
    text-align: center;
}

@media only screen and (min-width: 960px) {
    .container {
        max-width: 728px;
    } 
}
